<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990806140426-fg2e7p905crp3r4jemqcrhs6nsnj602q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990806140426-fg2e7p905crp3r4jemqcrhs6nsnj602q</string>
	<key>API_KEY</key>
	<string>AIzaSyChtT461_0mjDDaB-CbLklmHXEWAD8aGcI</string>
	<key>GCM_SENDER_ID</key>
	<string>990806140426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyCty</string>
	<key>PROJECT_ID</key>
	<string>mycty-bc2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>mycty-bc2ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:990806140426:ios:e5790bf7329da4e1</string>
	<key>DATABASE_URL</key>
	<string>https://mycty-bc2ab.firebaseio.com</string>
</dict>
</plist>